@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Netflix";
        src: url('./assets/fonts/NetflixSans-Regular.otf');
    }
    @font-face {
        font-family: "NetflixLight";
        src: url('./assets/fonts/NetflixSans-Light.otf');
    }
    @font-face {
        font-family: "NetflixMedium";
        src: url('./assets/fonts/NetflixSans-Medium.otf');
    }
    @font-face {
        font-family: "NetflixBold";
        src: url('./assets/fonts/NetflixSans-Bold.otf');
    }
}